<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myIosTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D254929E1E76F61800CF7F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25492B71E76F61900CF7F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25492C21E76F61900CF7F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
